ion-header{
    display: flex;
    flex-direction: row;
}

ion-button {
    height: 10vh;
    width: 10vw;

    ion-icon {
        height: 100%;
        width: 100%;
    }
}

ion-searchbar {
    display: flex;
    flex-direction: row-reverse;
}