<app-city></app-city>

<div *ngIf="!this.myCity.name">
    <ion-slides [scrollbar]="true" [options]="slideOpts">
        <ion-slide>
            <img src="https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293_960_720.jpg" />
        </ion-slide>
        <ion-slide>
            <img src="https://cdn.pixabay.com/photo/2019/03/11/00/15/rainbow-4047523_960_720.jpg" />
        </ion-slide>
        <ion-slide>
            <img src="https://cdn.pixabay.com/photo/2016/06/13/22/12/flash-1455285_960_720.jpg" />
        </ion-slide>
    </ion-slides>
</div>

<div *ngIf="this.myCity.name">

    <div class="weather" style="background-color: cadetblue;">
        <img [src]="this.myCity.icon" />
        <p>{{this.myCity.weatherDescription}}</p>
        <p>{{this.myCity.temperature}}°c</p>
        <div>
            <p>Humidity :</p>
            <p>{{this.myCity.humidity}}%</p>
        </div>
        <div>
            <p>Wind</p>
            <p>{{this.myCity.wind}}km/h</p>
        </div>
    </div>

    <app-forecast></app-forecast>
</div>