ion-header {
    height: 10vh;
    width: auto;
    display: flex;
    flex-direction: row;
}

ion-title {
    position: relative;
    right: 3%;
    text-align: center;

}

ion-button {
    height: 10vh;
    width: 10vw;
    
    ion-icon {
        height: 100%;
        width: 100%;
    }


}
