<app-searchbar></app-searchbar>
<ion-list>
  <ion-item>
    <ion-label>{{this.cityList[0]}}</ion-label>
    <ion-button (click) = delete(0)>
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-label>{{this.cityList[1]}}</ion-label>
    <ion-button (click) = delete(1)>
      <ion-icon name="trash"></ion-icon>
    </ion-button>  </ion-item>
  <ion-item>
    <ion-label>{{this.cityList[2]}}</ion-label>
    <ion-button (click) = delete(2)>
      <ion-icon name="trash"></ion-icon>
    </ion-button>  </ion-item>
  <ion-item>
    <ion-label>{{this.cityList[3]}}</ion-label>
    <ion-button (click) = delete(3)>
      <ion-icon name="trash"></ion-icon>
    </ion-button>  </ion-item>
  <ion-item>
    <ion-label>{{this.cityList[4]}}</ion-label>
    <ion-button (click) = delete(4)>
      <ion-icon name="trash"></ion-icon>
    </ion-button>  </ion-item>
</ion-list>