<app-searchbar></app-searchbar>
<ion-list>
  <ion-item *ngIf='this.cityList[0]'>
    <ion-button (click) = getWeather(this.cityList[0])>
    <ion-label>{{this.cityList[0]}}</ion-label>
    </ion-button>
    <ion-button (click) = delete(0)>
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item *ngIf='this.cityList[1]'>
    <ion-button (click) = getWeather(this.cityList[1])>
    <ion-label>{{this.cityList[1]}}</ion-label>
    </ion-button>
    <ion-button (click) = delete(1)>
      <ion-icon name="trash"></ion-icon>
    </ion-button> 
   </ion-item>
  <ion-item *ngIf='this.cityList[2]'>
    <ion-button (click) = getWeather(this.cityList[2])>
      <ion-label>{{this.cityList[2]}}</ion-label>
    </ion-button>
    <ion-button (click) = delete(2)>
      <ion-icon name="trash"></ion-icon>
    </ion-button>  
  </ion-item>
  <ion-item *ngIf='this.cityList[3]'>
    <ion-button (click) = getWeather(this.cityList[3])>
      <ion-label>{{this.cityList[3]}}</ion-label>
    </ion-button>
    <ion-button (click) = delete(3)>
      <ion-icon name="trash"></ion-icon>
    </ion-button>  
  </ion-item>
  <ion-item *ngIf='this.cityList[4]'>
    <ion-button (click) = getWeather(this.cityList[4])>
      <ion-label>{{this.cityList[4]}}</ion-label>
    </ion-button>
    <ion-button (click) = delete(4)>
      <ion-icon name="trash"></ion-icon>
    </ion-button> 
   </ion-item>
</ion-list>