ion-content{
    --background:none;
}

ion-row{
    display: flex;
    justify-content: space-around;

    ion-card{
        height: 30vh;
        width: 20vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        vertical-align: middle;
        --background:#A6E6FF;
        opacity: 0.9;

        img{
            align-items: center;
            height: fit-content;
            width: fit-content;
        }

        ion-item{
            font-family: 'Indie Flower', cursive;
            font-size: x-large;
            --background:none;
        }
    }

}
